* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration:none;
}
body {
  background: #072e4c;
}
.body-text {
    display: flex;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
 
nav {
  position: fixed;
  width: 100%;
  margin-top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #072e4c;
  font-family: "Montserrat", sans-serif;
}
  
.heading {
    color: white;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    font-size: 20px;
}
  
.nav-links {
  display: flex;
  padding: 0px 20px 0px 20px;
  /*justify-content: space-between;*/
  width: 30%;
}
  
.nav-links li {
    list-style: none;
  }
  
.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 14px 16px;
  }
  
.nav-links a:hover:not(.active) {
    background-color: lightseagreen;
}
  
.nav-links li a.active {
    background-color: #4caf50;
}

.navbar.sticky{
  padding: 10px 0;
  background: #04AA6D;
}

/* Styling for Home Page */
.home {
  display: flex;
    background: red;
    height: 100vh;
    color: beige;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
}

/*  Styling for login form page */
/**/

input[type=text],  input[type=email], input[type=date], input[type=number], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  form {
    border: 5px solid white;
    padding: 0px 30px;
    margin-left: 250px;
    margin-right: 250px;
  }
  
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  .imgcontainer {
    text-align: center;
    margin: 5px 0 5px 0;
  }
  
  img.avatar {
    width: 15%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  span.reg {
    position: relative;
    margin-left: 130px;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }